.input {
  max-width: 394px;
  width: 100%;

  input {
    max-width: 394px;
    width: 100%;
    height: 52px;
    background-color: var(--color-white);
    border: none;
    outline: none;
    border-radius: 4px;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.16));
    padding: 15px 19px;

    color: var(--color-light-gray);
    font-family: var(--first-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &.formInput {
    max-width: 502px;

    input {
      max-width: 502px;
      font-size: 25px;
    }
  }

  &.margin {
    margin: 0 40px 0 32px;
  }

  @media (max-width: 1920px) {
    max-width: 262px;

    input {
      max-width: 262px;
      height: 34px;
      border-radius: 2.6px;
      padding: 10px 12.6px;

      font-size: 10.6px;
    }

    &.formInput {
      max-width: 334px;

      input {
        max-width: 334px;
        font-size: 16.6px;
      }
    }

    &.margin {
      margin: 0 26px 0 21px;
    }
  }

  @media (max-width: 1300px) {
    max-width: 174px;

    input {
      max-width: 174px;
      height: 22px;
      border-radius: 1.7px;
      padding: 6px 8.4px;

      font-size: 7px;
    }

    &.formInput {
      max-width: 222px;

      input {
        max-width: 222px;
        font-size: 11px;
      }
    }

    &.margin {
      margin: 0 17px 0 14px;
    }
  }

  @media (max-width: 700px) {
    max-width: 97px;

    input {
      max-width: 97px;
      height: 12px;
      border-radius: 1px;
      padding: 3px 5px;
      display: flex;
      align-items: end;
      font-size: 4px;
    }

    &.formInput {
      max-width: 123px;

      input {
        max-width: 123px;
        font-size: 6px;
      }
    }

    &.margin {
      margin: 0 9px 0 8px;
    }
  }

}