.button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 273px;
  width: 100%;
  height: 52px;
  border-radius: 5.8px;
  cursor: pointer;
  transition: transform 0.2s ease;
  border: none;
  padding: 0;

  &.green {
    background-color: var(--color-green);
  }
  &.gray {
    background-color: var(--color-light-gray);
  }
  &.red {
    background-color: var(--color-red);
  }

  p {
    text-align: center;
    max-width: 113px;
    width: 100%;
    height: 24px;
    color: var(--color-white);
    font-family: var(--second-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 11px 80px 17px 80px;
  }

  &:hover {
    transform: scale(1.03);
  }

  @media (max-width: 1920px) {
    max-width: 182px;
    height: 34px;
    border-radius: 3.8px;

    p {
      max-width: 75px;
      height: 16px;
      font-size: 16px;
      margin: 7px auto 11px auto;
    }
  }

  @media (max-width: 1300px) {
    max-width: 121px;
    height: 22px;
    border-radius: 2.5px;

    p {
      max-width: 50px;
      height: 10px;
      font-size: 10px;
      margin: 4.6px auto 7px auto;
    }
  }

  @media (max-width: 700px) {
    max-width: 67px;
    height: 12px;
    border-radius: 1px;

    p {
      max-width: 28px;
      height: 6px;
      font-size: 6px;
      margin: 1px auto 3px auto;
    }
  }

}

