.button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 273px;
  width: 100%;
  height: 52px;
  border-radius: 5.8px;
  cursor: pointer;
  transition: transform 0.2s ease;
  border: none;
  padding: 0;

  &.green {
    background-color: var(--color-green);
  }
  &.gray {
    background-color: var(--color-light-gray);
  }
  &.red {
    background-color: var(--color-red);
  }

  p {
    text-align: center;
    max-width: 113px;
    width: 100%;
    height: 24.0px;
    color: var(--color-white);
    font-family: var(--second-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 11px 80px 17px 80px;
  }

  &:hover {
    transform: scale(1.03);
  }
}