.spreadSheets {
  max-width: 1988px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 34px auto 0 auto;
  padding: 0 20px 0 20px;

  table {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
    }

    thead {
      display: flex;
      flex-direction: column;
      gap: 3px;

      .underLine {
        width: 100%;
        height: 4px;
        background-color: #E9E9E9;
      }
    }

    .firstCol { width: 217px; }
    .secondCol { width: 510px; }
    .thirdCol { width: 401px; }
    .fourthCol { width: 658px; }
    .fifthCol {width: 159px;}

    tr {
      height: 27px;

      th {
        text-align: left;
        padding: 0;
        color: var(--color-brown);
        font-family: var(--first-family);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }

    tbody {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-top: 31px;
      height: 1226px;
      overflow-y: auto;

      tr {
        width: 100%;
        height: 59px;
        cursor: pointer;
        transition: opacity 0.4s ease, transform 0.4s ease, margin-bottom 0.4s ease;
        opacity: 1;
        transform: translateY(0);

        td {
          text-align: start;
          padding: 0;
          color: var(--color-black);
          font-family: var(--first-family);
          font-size: 30px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          .present {
            width: 59px;
            height: 59px;
            border-radius: 30px;
            margin: 0 auto;

            &.green {
              background-color: var(--color-light-green);
            }

            &.red {
              background-color: var(--color-red);
            }
          }
        }

        &.removing {
          opacity: 0;
          transform: translateY(-100%);
          margin-bottom: 0;
        }

        &.adding {
          opacity: 0;
          transform: translateY(-20px);
          margin-bottom: 0;
        }

        &:hover {
          background: radial-gradient(
                          ellipse at center,
                          rgba(119, 221, 119, 0.2) 0%,
                          rgba(119, 221, 119, 0.15) 30%,
                          rgba(119, 221, 119, 0.08) 60%,
                          rgba(119, 221, 119, 0) 100%
          );
        }
      }
    }

    @media (max-width: 1920px) {
      max-width: 1860px;
      margin: 22.6px auto 0 auto;

      thead {
        gap: 2px;

        .underLine {
          height: 2.6px;
        }
      }

      .firstCol {
        width: 201px;
      }
      .secondCol {
        width: 474px;
      }
      .thirdCol {
        width: 372px;
      }
      .fourthCol {
        width: 611px;
      }
      .fifthCol {
        width: 100px;
      }

      tr {
        height: 18px;

        th {
          font-size: 13px;
        }
      }

      tbody {
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
        height: 750px;

        tr {
          height: 39px;

          td {
            font-size: 20px;

            .present {
              width: 39px;
              height: 39px;
              border-radius: 20px;
            }
          }

          &.adding {
            transform: translateY(-13px);
          }
        }
      }
    }

  @media (max-width: 1300px) {
    max-width: 1240px;
    margin: 15px auto 0 auto;

    thead {
      gap: 1.3px;

      .underLine {
        height: 1.7px;
      }
    }

    .firstCol {
      width: 134px;
    }
    .secondCol {
      width: 316px;
    }
    .thirdCol {
      width: 248px;
    }
    .fourthCol {
      width: 407px;
    }
    .fifthCol {
      width: 66px;
    }

    tr {
      height: 12px;

      th {
        font-size: 8.6px;
      }
    }

    tbody {
      gap: 13px;
      margin-top: 13px;
      height: 625px;

      tr {
        height: 26px;

        td {
          font-size: 13px;

          .present {
            width: 26px;
            height: 26px;
            border-radius: 13px;
          }
        }

        &.adding {
          transform: translateY(-8.6px);
        }
      }
    }
  }

  @media (max-width: 700px) {
    max-width: 640px;
    margin: 8px auto 0 auto;

    thead {
      gap: 1px;

      .underLine {
        height: 1px;
      }
    }

    .firstCol {
      width: 74px;
    }
    .secondCol {
      width: 176px;
    }
    .thirdCol {
      width: 138px;
    }
    .fourthCol {
      width: 226px;
    }
    .fifthCol {
      width: 37px;
    }

    tr {
      height: 7px;

      th {
        font-size: 5px;
      }
    }

    tbody {
      gap: 7px;
      margin-top: 7px;
      height: 347px;

      tr {
        height: 14px;

        td {
          font-size: 7px;

          .present {
            width: 14px;
            height: 14px;
            border-radius: 7px;
          }
        }

        &.adding {
          transform: translateY(-5px);
        }
      }
    }
  }


  @media (max-height: 1400px) {
      tbody {
        height: 1226px;
      }
  }

  @media (max-height: 1280px) {
    tbody {
      height: 1100px;
    }
  }

  @media (max-height: 1180px) {
    tbody {
      height: 900px;
    }
  }

  @media (max-height: 1080px) {
    tbody {
      height: 750px;
    }
  }

  @media (max-height: 932px) {
    tbody {
      height: 850px;
    }
  }

  @media (max-height: 915px) {
    tbody {
      height: 750px;
    }
  }

  @media (max-height: 800px) {
    tbody {
      height: 650px;
    }
  }

  @media (max-height: 720px) {
    tbody {
      height: 550px;
    }
  }

  @media (max-height: 667px) {
    tbody {
      height: 550px;
    }
  }

  @media (max-height: 600px) {
    tbody {
      height: 450px;
    }
  }
  }


