.spreadSheets {
  max-width: 1948px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 34px auto 0 auto;

    table {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
    }

    thead {
      display: flex;
      flex-direction: column;
      gap: 3px;

      .underLine {
        width: 100%;
        height: 4px;
        background-color: #E9E9E9;
      }
    }

    .firstCol { width: 217px; }
    .secondCol { width: 510px; }
    .thirdCol { width: 401px; }
    .fourthCol { width: 658px; }
    .fifthCol {width: 159px;}

    tr {
      height: 27px;

      th {
        text-align: left;
        padding: 0;
        color: var(--color-brown);
        font-family: var(--first-family);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }

    tbody {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-top: 31px;
      height: 1226px;
      overflow-y: auto;

      tr {
        width: 100%;
        height: 59px;
        cursor: pointer;
        transition: opacity 0.4s ease, transform 0.4s ease, margin-bottom 0.4s ease;
        opacity: 1;
        transform: translateY(0);

        td {
          text-align: start;
          padding: 0;
          color: var(--color-black);
          font-family: var(--first-family);
          font-size: 30px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          .present {
            width: 59px;
            height: 59px;
            border-radius: 30px;
            margin: 0 auto;

            &.green {
              background-color: var(--color-light-green);
            }

            &.red {
              background-color: var(--color-red);
            }
          }
        }

        &.removing {
          opacity: 0;
          transform: translateY(-100%);
          margin-bottom: 0;
        }

        &:last-child {
          opacity: 0;
          transform: translateY(-20px);
          margin-bottom: 0;
        }

        &:hover {
          background: radial-gradient(
                          ellipse at center,
                          rgba(119, 221, 119, 0.2) 0%,
                          rgba(119, 221, 119, 0.15) 30%,
                          rgba(119, 221, 119, 0.08) 60%,
                          rgba(119, 221, 119, 0) 100%
          );
        }
      }
    }
  }


