.spreadSheets {
  max-width: 1988px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 34px auto 0 auto;
  padding: 0 20px 0 20px;
}
.spreadSheets table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.spreadSheets thead {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.spreadSheets thead .underLine {
  width: 100%;
  height: 4px;
  background-color: #E9E9E9;
}
.spreadSheets .firstCol {
  width: 217px;
}
.spreadSheets .secondCol {
  width: 510px;
}
.spreadSheets .thirdCol {
  width: 401px;
}
.spreadSheets .fourthCol {
  width: 658px;
}
.spreadSheets .fifthCol {
  width: 159px;
}
.spreadSheets tr {
  height: 27px;
}
.spreadSheets tr th {
  text-align: left;
  padding: 0;
  color: var(--color-brown);
  font-family: var(--first-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.spreadSheets tbody {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 31px;
  height: 1226px;
  overflow-y: auto;
}
.spreadSheets tbody tr {
  width: 100%;
  height: 59px;
  cursor: pointer;
  transition: opacity 0.4s ease, transform 0.4s ease, margin-bottom 0.4s ease;
  opacity: 1;
  transform: translateY(0);
}
.spreadSheets tbody tr td {
  text-align: start;
  padding: 0;
  color: var(--color-black);
  font-family: var(--first-family);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.spreadSheets tbody tr td .present {
  width: 59px;
  height: 59px;
  border-radius: 30px;
  margin: 0 auto;
}
.spreadSheets tbody tr td .present.green {
  background-color: var(--color-light-green);
}
.spreadSheets tbody tr td .present.red {
  background-color: var(--color-red);
}
.spreadSheets tbody tr.removing {
  opacity: 0;
  transform: translateY(-100%);
  margin-bottom: 0;
}
.spreadSheets tbody tr.adding {
  opacity: 0;
  transform: translateY(-20px);
  margin-bottom: 0;
}
.spreadSheets tbody tr:hover {
  background: radial-gradient(ellipse at center, rgba(119, 221, 119, 0.2) 0%, rgba(119, 221, 119, 0.15) 30%, rgba(119, 221, 119, 0.08) 60%, rgba(119, 221, 119, 0) 100%);
}
@media (max-width: 1920px) {
  .spreadSheets {
    max-width: 1860px;
    margin: 22.6px auto 0 auto;
  }
  .spreadSheets thead {
    gap: 2px;
  }
  .spreadSheets thead .underLine {
    height: 2.6px;
  }
  .spreadSheets .firstCol {
    width: 201px;
  }
  .spreadSheets .secondCol {
    width: 474px;
  }
  .spreadSheets .thirdCol {
    width: 372px;
  }
  .spreadSheets .fourthCol {
    width: 611px;
  }
  .spreadSheets .fifthCol {
    width: 100px;
  }
  .spreadSheets tr {
    height: 18px;
  }
  .spreadSheets tr th {
    font-size: 13px;
  }
  .spreadSheets tbody {
    gap: 20px;
    margin-top: 20px;
    height: 750px;
  }
  .spreadSheets tbody tr {
    height: 39px;
  }
  .spreadSheets tbody tr td {
    font-size: 20px;
  }
  .spreadSheets tbody tr td .present {
    width: 39px;
    height: 39px;
    border-radius: 20px;
  }
  .spreadSheets tbody tr.adding {
    transform: translateY(-13px);
  }
}
@media (max-width: 1300px) {
  .spreadSheets {
    max-width: 1240px;
    margin: 15px auto 0 auto;
  }
  .spreadSheets thead {
    gap: 1.3px;
  }
  .spreadSheets thead .underLine {
    height: 1.7px;
  }
  .spreadSheets .firstCol {
    width: 134px;
  }
  .spreadSheets .secondCol {
    width: 316px;
  }
  .spreadSheets .thirdCol {
    width: 248px;
  }
  .spreadSheets .fourthCol {
    width: 407px;
  }
  .spreadSheets .fifthCol {
    width: 66px;
  }
  .spreadSheets tr {
    height: 12px;
  }
  .spreadSheets tr th {
    font-size: 8.6px;
  }
  .spreadSheets tbody {
    gap: 13px;
    margin-top: 13px;
    height: 625px;
  }
  .spreadSheets tbody tr {
    height: 26px;
  }
  .spreadSheets tbody tr td {
    font-size: 13px;
  }
  .spreadSheets tbody tr td .present {
    width: 26px;
    height: 26px;
    border-radius: 13px;
  }
  .spreadSheets tbody tr.adding {
    transform: translateY(-8.6px);
  }
}
@media (max-width: 700px) {
  .spreadSheets {
    max-width: 640px;
    margin: 8px auto 0 auto;
  }
  .spreadSheets thead {
    gap: 1px;
  }
  .spreadSheets thead .underLine {
    height: 1px;
  }
  .spreadSheets .firstCol {
    width: 74px;
  }
  .spreadSheets .secondCol {
    width: 176px;
  }
  .spreadSheets .thirdCol {
    width: 138px;
  }
  .spreadSheets .fourthCol {
    width: 226px;
  }
  .spreadSheets .fifthCol {
    width: 37px;
  }
  .spreadSheets tr {
    height: 7px;
  }
  .spreadSheets tr th {
    font-size: 5px;
  }
  .spreadSheets tbody {
    gap: 7px;
    margin-top: 7px;
    height: 347px;
  }
  .spreadSheets tbody tr {
    height: 14px;
  }
  .spreadSheets tbody tr td {
    font-size: 7px;
  }
  .spreadSheets tbody tr td .present {
    width: 14px;
    height: 14px;
    border-radius: 7px;
  }
  .spreadSheets tbody tr.adding {
    transform: translateY(-5px);
  }
}
@media (max-height: 1400px) {
  .spreadSheets tbody {
    height: 1226px;
  }
}
@media (max-height: 1280px) {
  .spreadSheets tbody {
    height: 1100px;
  }
}
@media (max-height: 1180px) {
  .spreadSheets tbody {
    height: 900px;
  }
}
@media (max-height: 1080px) {
  .spreadSheets tbody {
    height: 750px;
  }
}
@media (max-height: 932px) {
  .spreadSheets tbody {
    height: 850px;
  }
}
@media (max-height: 915px) {
  .spreadSheets tbody {
    height: 750px;
  }
}
@media (max-height: 800px) {
  .spreadSheets tbody {
    height: 650px;
  }
}
@media (max-height: 720px) {
  .spreadSheets tbody {
    height: 550px;
  }
}
@media (max-height: 667px) {
  .spreadSheets tbody {
    height: 550px;
  }
}
@media (max-height: 600px) {
  .spreadSheets tbody {
    height: 450px;
  }
}

/*# sourceMappingURL=Spreadsheet.module.css.map */
