@import 'variables.css';
@import 'fonts.css';
@import "normalize.css";

body {
    background-color: var(--color-white);
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}