.header {
  max-width: 1948px;
  width: 100%;
  height: 90px;
  margin: 24px auto auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .headerLeft {
    max-width: 927px;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: end;
  }

  .visitors {
    max-width: 188px;
    width: 100%;
    height: 87px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;

    h2 {
      margin: 0;
      color: var(--color-brown);
      text-align: right;
      font-family: var(--first-family);
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    p {
      color: var(--color-brown);
      text-align: right;
      font-family: var(--first-family);
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .visitorsCount {
      display: flex;
      flex-direction: row;

      p {
        display: flex;
        flex-direction: row;
        gap: 8px;
      }
    }
  }
}