.footer {
  max-width: 1988px;
  width: 100%;
  height: 53px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 74px;
  margin: 0 auto;
  padding: 0 20px 0 20px;

  h2 {
    margin: 0;
    color: var(--color-brown);
    font-family: var(--first-family);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .filter {
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: center;

    button {
      padding: 0;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      transition: transform 0.2s ease;

      p {
        color: var(--color-brown);
        font-family: var(--first-family);
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &.activeG {
          color: var(--color-green);
        }
        &.activeR {
          color: var(--color-red);
        }
      }

      &:hover {
        transform: scale(1.03);
      }
    }


    .withoutFilters {
      width: 181px;
      height: 53px;
      border-radius: 20px;
      background-color: #C4C4C4;
      text-align: start;
      cursor: pointer;
      transition: transform 0.2s ease;

      p {
        text-align: center;
        height: 34px;
        margin: 6px 15px 13px 14px;
        color: var(--color-white);
        font-family: var(--first-family);
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

      }

      &:hover {
        transform: scale(1.03);
      }
    }
  }

  @media (max-width: 1920px) {
    max-width: 1860px;
    height: 35px;
    gap: 49px;

    h2 {
      font-size: 20px;
    }

    .filter {
      gap: 32px;

      button {
        p {
          font-size: 16px;
        }
      }

      .withoutFilters {
        width: 120px;
        height: 35px;
        border-radius: 13px;

        p {
          height: 22px;
          margin: 5px 10px 8px 9px;
          font-size: 16px;
        }
      }
    }
  }
}