
.modalContainer {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,0,0,0.5);
}

.modal {
  max-width: 1461px;
  width: 100%;
  min-height: 582px;
  max-height: 742px;
  height: auto;
  background-color: var(--color-white);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 44px;
  justify-content: center;
  align-items: center;
  padding: 66px 0 53px;

  .form {
    max-width: 775px;
    width: 100%;
    min-height: 366px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;

    label {
      color: var(--color-brown);
      font-family: var(--first-family);
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding-top: 4px;
    }

    .formItem {
      max-width: 775px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;

      .selectGroup {
        max-width: 502px;
        width: 100%;
        min-height: 52px;
        height: 100%;
        background-color: var(--color-white);
        border: none;
        outline: none;
        border-radius: 4px;
        filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.16));
        padding: 5px 31px 6px 23px;
        cursor: pointer;

        color: var(--color-black);
        font-family: var(--first-family);
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        .selected {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          &.active img{
            transition: transform 0.2s ease;
            transform: rotate(180deg);
          }
        }

        .selectVariant {
          display: none;
          margin-top: 16px;
          flex-direction: column;
          user-select: none;
          gap: 20px;

          p {
            color: var(--color-black);
            font-family: var(--first-family);
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            background-color: transparent;
            transition: transform 0.2s ease;

            &:hover {
              transform: scale(1.01);
            }
          }

          &.active {
            display: flex;
            user-select: auto;
            cursor: pointer;
          }
        }
      }
    }

    .inputCheckBox {
      max-width: 502px;
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      margin-top: 3px;

      input {
        max-width: 34px;
        width: 100%;
        height: 34px;
        background-color: var(--color-white);
        border: 2px solid #757575;
        border-radius: 5px;

      }
    }
  }

  .buttons {
    max-width: 580px;
    width: 100%;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}