
.modalContainer {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,0,0,0.5);
}

.modal {
  animation: openModal 0.4s ease forwards;
  @keyframes openModal {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    60% {
      transform: scale(1.05);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  max-width: 1461px;
  width: 100%;
  min-height: 582px;
  max-height: 742px;
  height: auto;
  background-color: var(--color-white);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 66px 346px 53px 346px;
  position: relative;

  .closeIco {
    position: absolute;
    z-index: 20;
    right: 0;
    top: 0;
    margin: 20px;
  }

  .form {
    max-width: 775px;
    width: 100%;
    min-height: 366px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;

    label {
      color: var(--color-brown);
      font-family: var(--first-family);
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding-top: 4px;
    }

    .companyItem {
      margin-bottom: 17px;
    }

    .groupItem {
      margin-bottom: 29px;
    }


    .formItem {
      max-width: 775px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;

      .selectGroup {
        position: relative;
        max-width: 502px;
        width: 100%;
        min-height: 52px;
        height: 100%;
        background-color: var(--color-white);
        border: none;
        outline: none;
        border-radius: 4px;
        filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.16));
        padding: 5px 31px 6px 23px;
        cursor: pointer;

        span {
          position: absolute;
          right: 0;
          bottom: -35px;
          color: var(--color-red);
          font-family: var(--first-family);
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        color: var(--color-black);
        font-family: var(--first-family);
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        .selected {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          &.active img{
            transition: transform 0.2s ease;
            transform: rotate(180deg);
          }
        }

        .selectVariant {
          display: none;
          margin-top: 16px;
          flex-direction: column;
          user-select: none;
          gap: 20px;

          p {
            color: var(--color-black);
            font-family: var(--first-family);
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            background-color: transparent;
            transition: transform 0.2s ease;

            &:hover {
              transform: scale(1.01);
            }
          }

          &.active {
            display: flex;
            user-select: auto;
            cursor: pointer;
          }
        }
      }
    }

    .inputCheckBox {
      max-width: 502px;
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      margin: 6px 0 0 0;

      input {
        max-width: 34px;
        width: 100%;
        height: 34px;
        background-color: var(--color-white);
        border: 10px solid #757575;
        border-radius: 5px;

      }
    }
  }

  .buttons {
    width: 100%;
    gap: 34px;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-top: 44px;
  }

  @media (max-width: 1920px) {
    max-width: 1043px;
    min-height: 415px;
    max-height: 530px;
    border-radius: 21px;
    padding: 47px 247px 37px 247px;

    .closeIco {
      max-width: 32px;
      width: 100%;
      height: 32px;
      margin: 14px;
    }

    .form {
      max-width: 553px;
      min-height: 261px;
      gap: 28px;

      label {
        font-size: 22px;
        padding-top: 2.8px;
      }

      .companyItem {
        margin-bottom: 12px;
      }

      .groupItem {
        margin-bottom: 20px;
      }

      .formItem {
        max-width: 553px;
        .selectGroup {
          max-width: 334px;
          min-height: 34px;
          border-radius: 2.8px;
          padding: 3.5px 22px 4px 16px;

          span {
            bottom: -25px;
            font-size: 14px;
          }

          font-size: 17px;

          .selectVariant {
            margin-top: 11px;
            gap: 14px;

            p {
              font-size: 17px;
            }
          }
        }
      }

      .inputCheckBox {
        max-width: 334px;
        margin: 4px 0 0 0;

        input {
          max-width: 24px;
          height: 24px;
          border: 7px solid #757575;
          border-radius: 3.5px;

        }
      }

      .buttons {
        gap: 24px;
        height: 37px;
        margin-top: 31px;
      }
    }
  }

  @media (max-width: 1300px) {
    max-width: 745px;
    min-height: 296px;
    max-height: 378px;
    border-radius: 15px;
    padding: 34px 176px 26px 176px;

    .closeIco {
      max-width: 23px;
      width: 100%;
      height: 23px;
      margin: 10px;
    }

    .form {
      max-width: 395px;
      min-height: 186px;
      gap: 20px;

      label {
        font-size: 16px;
        padding-top: 2px;
      }

      .companyItem {
        margin-bottom: 9px;
      }

      .groupItem {
        margin-bottom: 14px;
      }

      .formItem {
        max-width: 395px;
        .selectGroup {
          max-width: 222px;
          min-height: 24px;
          border-radius: 2px;
          padding: 2.5px 16px 3px 11px;

          span {
            bottom: -18px;
            font-size: 10px;
          }

          font-size: 12px;

          .selectVariant {
            margin-top: 8px;
            gap: 10px;

            p {
              font-size: 12px;
            }
          }
        }
      }

      .inputCheckBox {
        max-width: 222px;
        margin: 3px 0 0 0;

        input {
          max-width: 17px;
          height: 17px;
          border: 5px solid #757575;
          border-radius: 2px;
        }
      }

      .buttons {
        gap: 17px;
        height: 26px;
        margin-top: 22px;
      }
    }
  }

}
